/*
Main CSS Document
*/
/* font imports */@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i');
/* main */body {font-family: 'Montserrat', sans-serif;background-color: rgb(64, 64, 64);}.background {-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;-ms-background-size: cover;background-size: cover;position: fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: -1;}
/* texts config */h1, h2, h3, h4, h5, h6 {color: white;}p, a, li {color: whitesmoke;}
/* graphical formats */.card {background-color: white;padding: 30px;margin-top: 20px;}
/* button */.disabled {opacity: 0.6;cursor: not-allowed;}.button {background-color: rgb(40, 40, 40);border: none;color: white;padding: 15px 36px;text-align: center;text-decoration: none;display: inline-block;font-size: 15px;width: auto;height: auto;}
/* footer */.footer-text {font-size: 10px;color: white;}